fastapi>=0.109.0
uvicorn>=0.27.0
python-dotenv>=1.0.0
sqlalchemy>=2.0.23
pydantic>=2.5.2
requests>=2.31.0
python-multipart
streamlit
pandas
feedparser
tweepy
python-dateutil
geotext
pytz
schedule
pydeck
plotly
numpy
transformers
torch
